    <section id="sec5">
      <div id="get">
          <h1>contact us </h1>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo exercitationem itaque pariatur ab nemo dolores assumenda quaerat quam, molestiae quod!<br>, ipsum tur adipisicing elit. Rerum exercitationem maiores eos commodi aut culpa aspernatur velit eius corrupti deleniti.</p>
          <hr color="FF9000">
    </div>
    </section>
<section id="contact">
  <form  [formGroup]='contactForm' (ngSubmit)='onSubmit()'>

    <div>  <input type="text" placeholder="Name" formControlName="name"> <br>
    <p *ngIf=" contactForm.get('name')?.touched && !contactForm.get('name')?.valid " >Name is invalid</p> </div>
    <div>   <input type="text" placeholder="Email" formControlName="email">
      <p *ngIf=" contactForm.get('email')?.touched && contactForm.get('email')?.dirty && !contactForm.get('email')?.valid ">Email is invalid</p></div>
    <div>  <input type="text" placeholder="Title" formControlName="title">
      <p *ngIf=" contactForm.get('title')?.touched && !contactForm.get('title')?.valid">Title is invalid</p></div>
    <div>  <textarea placeholder="Message" rows="10" cols="20" formControlName="message"></textarea>
      <p *ngIf=" contactForm.get('message')?.touched && contactForm.get('message')?.dirty && !contactForm.get('message')?.valid">Message is invalid</p></div>
    <div>  <button type="submit">send</button>  </div>
  </form>
  <div id="info">
      <div>                <h1>get in touch !</h1>
      </div>
      <div>                <img src="../../assets/images/icons8-scroll-48.png" alt="">
          <span>Lorem ipsum dolor sit amet.</span><span>Lorem ipsum dolor sit amet.</span>
      </div>
      <div>                <img src="../../assets/images/icons8-phone-48.png" alt=""> <span>01155000561</span>
      </div>
      <div>                <img src="../../assets/images/icons8-messages-48.png" alt="">  <span>hadyhesham54@gmail.com</span>
      </div>
      <div>                <img src="../../assets/images/facebook-icn.png" alt=""><img src="../../assets/images/twitter-icn.png" alt=""><img src="../../assets/images/google-plus-icn.png" alt="">
      </div>
  </div>
</section>
