
        <section id="sec2">
          <div id="aboutus">
               <h1>about us</h1>
               <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo exercitationem itaque pariatur ab nemo dolores assumenda quaerat quam, molestiae quod!<br>, ipsum tur adipisicing elit. Rerum exercitationem maiores eos commodi aut culpa aspernatur velit eius corrupti deleniti.</p>
               <hr color="FF9000">

          </div>
          <div id="mission">
              <p (click)="mission()">mission</p>
              <p (click)="vision()">vision</p>
              <p (click)="sponsors()">sponsors</p>
          </div>
          <div id="reg">
              <div class="img11">
                   <img [src]=image alt="about" class="Imagechange">
                   <img [src]=image alt="about" id="img2" class="Imagechange">
              </div>
              <div>
                  <h1 class="text">{{ h1 | titlecase}}</h1>
                  <h6>register today and save 50% today</h6>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, quam reiciendis. Recusandae aperiam quaerat similique optio tenetur non harum doloremque delectus at esse blanditiis, id necessitatibus ab accusamus cum voluptas quis reiciendis repudiandae possimus doloribus?</p>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam dicta ipsa porro. Aliquid rem, mollitia delectus placeat explicabo quisquam id ipsa, molestiae, et fuga ea incidunt laboriosam expedita fugit animi.</p>
              </div>
          </div>
      </section>
