<section id="sec3">
  <div id="serv">
      <h1>our services</h1>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo exercitationem itaque pariatur ab nemo dolores assumenda quaerat quam, molestiae quod!<br>, ipsum tur adipisicing elit. Rerum exercitationem maiores eos commodi aut culpa aspernatur velit eius corrupti deleniti.</p>
      <hr color="FF9000">

  </div>
  <div id="imgsrv">
          <div id="serv1">
              <div id="position">
              </div>
              <p>development</p>
          </div>
          <div id="serv2">
              <div id="position2">
              </div>
              <p>design</p>
          </div>
          <div id="serv3">
              <div id="position3">
              </div>
              <p>concept</p>
          </div>
          <div id="serv4">
              <div id="position4">
              </div>
              <p>system</p>
          </div>

   </div>
</section>
