<header>
  <div id="layer">
      <section id="sec1">
          <article>
                      <h1>responsive</h1>
                      <p id="orange">mobile friendly</p>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint iste facilis assumenda sed tenetur omnis?</p>
                      <button routerLink="/aboutus">more details</button>
          </article>
      </section>
      <div>
          <img src="../../assets/images/img1.jpg" alt="mountain" id="img1">
          <div id="imgbar">
              <div class="fleximgbar">
              <div id="item1">
                  <img src="../../assets/images/new like.png"  alt="like">
                  <span>700</span>
                  <img src="../../assets/images/new comment.png" alt="comment">
                  <span>150</span>
          </div>

              <div id="item3">
                  <h1>this is sample 1</h1>
                  <span>spanned text </span>
              </div>
              </div>

      </div>

  </div>
  </div>
</header>
